.main {
  display: flex;
  flex-direction: row;

  .control-form {
    width: calc(100vw - 70%);
    height: calc(100vh - 60px);

    div {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: center;

      mat-list {
        width: 90%;
        margin-bottom: 1em;
        overflow-y: auto;

        mat-list-item {
          width: calc(100% - 4px);
          border: 2px solid white;
          border-radius: 5px;
          margin-bottom: 2px;
          cursor: pointer;
        }

        mat-list-item.selected {
          color: deeppink;
        }
      }
    }
  }

  .map {
    width: calc(100vw - 30%);
    height: calc(100vh - 60px);
    color: black;
  }
}
