<div class="main">
  <div class="control-form">
    <form (submit)="create()">
      <mat-form-field><input matInput placeholder="First name" name="first_name" type="text" [(ngModel)]="client.first_name"></mat-form-field>
      <mat-form-field><input matInput placeholder="Last name" name="last_name" type="text" [(ngModel)]="client.last_name"></mat-form-field>
      <mat-form-field><input matInput placeholder="Mobile phone" name="phone" type="phone" [(ngModel)]="client.mobile_phone"></mat-form-field>
      <mat-form-field><input matInput placeholder="Password" name="password" type="password" [(ngModel)]="client.password"></mat-form-field>
      <mat-form-field><input matInput placeholder="Living place" name="region" type="text" [(ngModel)]="client.place" (change)="placeChanged()"></mat-form-field>
      <mat-progress-bar mode="indeterminate" *ngIf="spinnerToggle"></mat-progress-bar>
      <mat-list *ngIf="foundedPlaces.length > 0">
        <mat-list-item *ngFor="let region of foundedPlaces;" (click)="selectLocation(region)">
          <div style="width: 100%; text-align: center;">{{ region.display_name }}</div>
        </mat-list-item>
      </mat-list>
      <button mat-raised-button type="submit" *ngIf="isValid()">{{ submitBtnText }}</button>
    </form>
  </div>
  <div class="map"
       leaflet
       [leafletOptions]="options"
       (leafletMapReady)="onMapReady($event)">
  </div>
</div>
