<mat-toolbar>
  <mat-toolbar-row (click)="drawer.toggle()">
    Taxi Service
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer mode="over" [autoFocus]="false">
    <mat-nav-list>
      <a mat-list-item (click)="drawer.close()" routerLinkActive="active" routerLink="/home">Home</a>
      <a mat-list-item (click)="drawer.close()" routerLinkActive="active" routerLink="/ride/list">All Rides</a>
      <a mat-list-item (click)="drawer.close()" routerLinkActive="active" routerLink="/driver/create">New Driver</a>
      <a mat-list-item (click)="drawer.close()" routerLinkActive="active" routerLink="/client/create">New Client</a>
      <a mat-list-item (click)="drawer.close()" routerLinkActive="active" routerLink="/ride/create">New Ride</a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

